.error{
    font-size: x-small;
    color: red;
   

}

.password-error{
    width: 55%;
    font-size: x-small;
    color: red;
    display: flex;
    justify-self: flex-end;
    justify-content:flex-start;
}