.flex-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.label {
   display: flex;
   flex-direction: column;
    font-size: small;
    width: 100%;

   
}

.password {
    display: flex;
    gap: 0.1rem;
    /* font-size: x-small; */
    
}

.password-err {
    font-size: x-small;
    color: red;
    font-weight: 600;
}

.main-container {
    height: 100vh;
    /* width: 230rem; */
    background-image: url("../../images/21931436.jpg");
    background-size: cover;

    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;

}


.signUp-form-container {
    margin-top: 1rem;
    width: 85%;
    height:100%;
    display: flex;
    flex-direction: column;
    /* justify-content:space-around; */
    gap: .6rem;
    /* margin-top: 2px; */
    align-items: center;
 
}
.error-signUp{
    font-size: x-small;
    color: red;
    width: 100% ;
    display: flex;
    justify-content: flex-start;
    /* display: none; */
}

.error-spacing{
    margin-bottom: 15px;
}

.error-signUp:active{
    /* display: block; */
}



.signIn-text {
    font-size:xx-large;
    font-weight: bolder;
    opacity: 95%;

}

.signUp-text {
    font-size: xx-large;
    font-weight: bolder;
    opacity: 90%;
    margin-bottom: 1.7rem;
}

.signIn-button {
    height: 2.5rem;
    width: 40%;
    border-radius: 2rem;
    /* border: 1px; */
    background-color: #0085CA;
    border-color: whitesmoke;
    color: white;
    cursor: pointer;
}

.signIn-button:hover{
    background-color: black;
    color: white;
}

.xh1{
    font-size: xx-large;
}

 .h1{
    font-size: x-large;
}

 .h2{
    font-size: large;
    margin-bottom: 5px;
    
}

.h4{
    font-size: medium;
    margin-bottom: 10px;
}

.signUp-button {
    border-radius: 1rem;
    border-radius: none;
    border-color: whitesmoke;
    background-color: white;
    color: #0085CA;
    cursor: pointer;
    width: 20%;
    height: 1.9rem;
    font-weight: bolder;
}
.signUp-button:hover{
    background-color: black;
    color: white;
}

.signIn-details-button {
    border-radius:.9rem;
    border-radius: none;
    border-color: whitesmoke;
    background-color: white;
    color: #0085CA;
    cursor: pointer;
    width: 20%;
    height: 1.9rem;
    font-weight: bolder;
}

.signIn-details-button:hover{
    background-color: black;
    color: white;
}


.forgot-text {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.6rem;
    cursor: pointer;
}

.content-container {
    margin-bottom: 3em;
    height: 70%;
    width: 60%;
    opacity: 85%;
    display: flex;
    
}

.content-container-signIn {
    height: 100%;
    width: 50%;
    border-radius: 4rem 0rem 0rem 4rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 4px 1px  ;
    /* box-shadow: 1px 1px 1px 1px; */


}



.content-container-signIn-details {
    height: 100%;
    width: 50%;
    border-radius: 4rem 0rem 0rem 4rem;
    background-color: #0085CA;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 4px 2px  ;
    /* box-shadow: 1px 1px 1px 1px; */
    


}



.content-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    

}

.register {
    border-radius: 1rem;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

.field {
    width: 100%;
    height: 2.7rem;
    border-radius: .7rem;
    font-weight:400;
    font-size:medium;
   
    background-color: #F0F0F0;
    border: none;
   padding-left: 7px;
}

.field::placeholder {
    color: black;
    font-weight:400;
    padding-left: 2px;
    opacity: 60%;
}



.confirm-password::placeholder {
    font-size:x-small;
    padding-left: 0px;
}

.password::placeholder {
    font-size: x-small;
    
}

.field:focus {
    outline: none;
}

.content-container-signUp {
    background-color: white;
    height: 100%;
    width: 50%;
    border-radius: 0rem 4rem 4rem 0rem;
    box-shadow: 2px 1px 4px 1px ;


}

.content-container-signUp-details {
    height: 100%;
    width: 50%;
    border-radius: 0rem 4rem 4rem 0rem;
    background-color: #0085CA;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 1px 4px 1px ;

}

.form-container {
    width: 75%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    /* align-items:flex-start; */
}


/* Input type number Auto Increment Hide */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}