/* .table-header{
    background-color: black;
    color: white;
} */

.table-header-fullName{
    /* margin-left: 3rem; */
    /* background-color: blue; */
}

.searchBar-dimension{
  

}

.table-dimension{
    height:91%;
}